
body {
	background-image: url('../img/bg.png');
}


.footer {
	font-family: verdana;
	line-height: 25px;
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px dotted #A4A4A4;
	width: 50%;
	font-size: 12px;
}